@import url(components/buttons.css);
@import url(components/container.css);
@import url(components/styleinfo.css);
@import url(//db.onlinewebfonts.com/c/e43f1db066f2bdd417313735b51574b6?family=Brixton+Outline);
@import url(components/banner.css);
@font-face {font-family: "Brixton Outline"; src: url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.eot"); src: url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.woff") format("woff"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.svg#Brixton Outline") format("svg"); }

body {
    background-color:whitesmoke ;
  }
  #F5F3EF
h1,h2,h3,p {
    font-family: 'Brixton Outline',Abhaya Libre;                                          
    color: #642714;
}

h1 {
position: center;

font-family: Brixton TC Outline;
font-style: normal;
font-weight: normal;
font-size: 66px;
line-height: 63px;
display: center;
align-items: center;
text-align: center;
letter-spacing: 0.10em;

color: #642714;
}

h2 {
position: center;

font-family: Abhaya Libre;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 41px;
display: center;
align-items: center;
text-align: center;

color: #642714;

}

h3 {
  color:#642714;
  text-align: left;
}

p {
    font-family: Abhaya Libre;
    font-size: 20px;
 }

* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #F5F3EF;
}

/*---------------------------------------------*/
a {
    font-family: Ubuntu-Regular;
    font-size: 40px;
    line-height: 1.7;
    color: #642714;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
  color: #403866;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #642714;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}


textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #642714;}
input:-moz-placeholder { color: #8f8fa1;}
input::-moz-placeholder { color: #8f8fa1;}
input:-ms-input-placeholder { color: #8f8fa1;}

textarea::-webkit-input-placeholder { color: #8f8fa1;}
textarea:-moz-placeholder { color: #8f8fa1;}
textarea::-moz-placeholder { color: #8f8fa1;}
textarea:-ms-input-placeholder { color: #8f8fa1;}

label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Ubuntu-Regular;
  font-size: 16px;
  color: #642714;
  line-height: 1.4;
  text-align: center;
}



/*//////////////////////////////////////////////////////////////////
[ login ]*/


.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;;
}


.wrap-login100 {
  width: 390px;
  border-radius: 10px;
  position: relative;


}


/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  font-family: Abhaya Libre;
  font-size: 18px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;


  width: 100%;
  display: block;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid transparent;
  border-radius: 10px;
  margin-top: 10px;
}


/*---------------------------------------------*/
.input100 {
  font-family: Abhaya Libre;
  
  line-height: 1.2;
  font-size: 40px;
  border-radius: 10px;
  text-align: center;
  color: #642714;

  display: block;
  width: 100%;
  background: transparent;
  height: 62px;
  padding: 0 20px 0 38px;
  border: solid;
}
/*------------------------------------------------------------------


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  padding: 20px;
  color: white;
  text-decoration: none;
  border-radius:5px;
  font-family: Abhaya Libre;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 15
  justify-content : center;

  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 62px;
  background-color: #642714;
  border-radius: 3px;

}

.imglogin {
  border-radius: 40px;
  padding-top: 20px;
  display: flex;
  

}



/*------------------------------------------------------------------

/*------------------------------------------------------------------


@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

@font-face {font-family: "Brixton Outline"; src: url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.eot"); src: url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.woff") format("woff"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.svg#Brixton Outline") format("svg"); }

body{
    color: #560905;
    margin: 0px auto;
}

/* Haut de la page */

.top-page {
    padding: 25px;
    background-color: #e5e7e6;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 150px;
    width: 150px;
    position: relative;
}

.big-title {
    position: relative;
    text-align: center;
    margin-top: 15px;
}

.title {
    font-family: 'Brixton Outline';
    font-size: 50px;
    line-height: 3px;
}

.subtitle {
    font-family: 'Zen Antique';
    font-size: 30px;
    margin-top: 0px;
    line-height: 10px;
}

.icons img {
    height: 45px;
    position: relative;
    text-align: right;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 30px;
}

/* Second titre */

.middle-page {
    background-color: white;
    height: 70px;
    text-align: center;
    padding-top: 30px;
}

.second-title {
    font-family: 'Brixton Outline';
    font-size: 35px;
    margin-top: 0px;
}

/* landing page */

.landing-page {
    height: 1000px;
    padding-top: 30px;
    background: url('images/background.png') no-repeat fixed;
    background-size: cover;
    background-size: 100% auto;
    background-position: bottom;
}

.line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 70px;
}

.card {
    display: flex;
    border: solid 2px #560905;
    color: #560905;
    width: 550px;
    padding: 10px;
    background-color: #FFFFFFDF;
    margin-bottom: 20px;
}
.profil {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin-right: 20px;
}

.rigth {
    margin-top: 0px;
    line-height: 2px;
}

.last-name {
    font-family: 'Brixton Outline';
    font-size: 30px;
}

.first-name {
    font-family: 'Zen Antique';
    font-size: 30px;
}

.fonction {
    font-family: 'Zen Antique';
    font-size: 20px;
    line-height: 30px;
}

.bottom-landing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.back-home {
    height: 75px;
    width: 700px;
    font-family: 'Zen Antique';
    font-size: 40px;
    color: #560905;
    background-color: #FFFFFFDF;
    border: solid 2px #560905;
    border-radius: 15px;
    margin-top: 30px;
}

.view-products {
    height: 75px;
    width: 700px;
    font-family: 'Zen Antique';
    font-size: 40px;
    color: #FFFFFFDF;
    background-color: #560905;
    border-radius: 15px;
    margin-top: 30px;
}





}

/* fin du haut de la page */

/* liens */

.links {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.links .link {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Zen Antique';
    color: #560905;
}

/* fin des liens */

/* page principale */

.landing-page {
    background: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #560905;
    height: 100%;
    display: grid;
    flex-direction: column;
    padding-left: 30px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4);
}

.landing-page .text {
    width: 500px;
    max-height: 250px;
    line-height: 20px;
    box-shadow: 10px 10px 20px #560905;
    background-color: #e5e7e6;
    color: #560905;

    grid-column: 4/5;
    grid-row: 3/4;
}

.landing-page .text h4 {
    font-family: 'Zen Antique';
    font-size: 35px;
    text-align: center;
}

.landing-page .text p {
    font-family: 'Zen Antique';
    font-size: 25px;
    text-align: center;
    line-height: 50px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    padding: 5px;
    background-color: #560905a2;
    left: 10px;
    bottom: 0px;
    grid-column: 1/5;
    grid-row: 4/4;
}

.icon img {
    width: 60px;
}

/* fin de la page principale */






    //// payment page ////



.wrapper1 {
  width: 500px;
  border-radius: 10px;
  position: relative;
}

.limiter1 {
  width: 100%;
  margin: 0 auto;}


.container1 {
    width: 85%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.checkout100-form {
  width: 40%;
}


.l100-form-title {
  font-family: Abhaya Libre;
  font-size: 18px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;


  width: 100%;
  display: block;
}


.info {
    justify-content: space-between;
    display: flex;
    width: 200%;
    margin-top: 10px;
    margin-bottom: 10px;
}


}
.cc-info {
    display: flex;
    width: 175%;
    justify-content: center;
}



@keyframes btn-hov {
    100% {
        background-color: #cfc9e1;
        color: #4a3b76;
        transform: scale(1.05)
    }
}


textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #642714;}
input:-moz-placeholder { color: #642714;}
input::-moz-placeholder { color: #642714;}
input:-ms-input-placeholder { color: #642714;}

textarea::-webkit-input-placeholder { color: #642714;}
textarea:-moz-placeholder { color: #642714;}
textarea::-moz-placeholder { color: #642714;}
textarea:-ms-input-placeholder { color: #642714;}




  input {
        mfont-family: Abhaya Libre;
    line-height: 1.2;
    font-size: 40px;
    border-radius: 10px;
    text-align: center;
    color: #642714;
    display: block;
    width: 70%;
    background: transparent;
    height: 47px;
    padding: 0 20px 0 38px;
    border: 1px solid #642714;
    }
@media (max-width: 736px) {
    .wrapper {
        width: 100%;
    }

    .container {
        width: 100%;
    }



    form h1 {
        text-align: center;
    }

    .name,
    .address-info,
    .cc-info {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        }

     div {
        align-items: center;
        flex-direction: column;
        width: 100%;
        display: flex;
        }
    }

    .street,
    .cc-num {
        text-align: center;
        width: 243%;
    }
}

