@import url(components/buttons.css);
@import url(components/container.css);
@import url(components/styleinfo.css);
@import url(//db.onlinewebfonts.com/c/e43f1db066f2bdd417313735b51574b6?family=Brixton+Outline);
@import url(components/banner.css);
@font-face {font-family: "Brixton Outline"; src: url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.eot"); src: url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.woff") format("woff"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.svg#Brixton Outline") format("svg"); }

body {
    background-color:whitesmoke ;
  }
  #F5F3EF
h1,h2,h3,p {
    font-family: 'Brixton Outline',Abhaya Libre;                                          
    color: #642714;
}

h1 {
position: center;

font-family: Brixton TC Outline;
font-style: normal;
font-weight: normal;
font-size: 66px;
line-height: 63px;
display: center;
align-items: center;
text-align: center;
letter-spacing: 0.10em;

color: #642714;
}

h2 {
position: center;

font-family: Abhaya Libre;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 41px;
display: center;
align-items: center;
text-align: center;

color: #642714;

}

h3 {
  color:#642714;
  text-align: left;
}

p {
    font-family: Abhaya Libre;
    font-size: 20px;
 }

* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Ubuntu-Regular, sans-serif;
    background-color: #F5F3EF;
}

/*---------------------------------------------*/
a {
    font-family: Ubuntu-Regular;
    font-size: 40px;
    line-height: 1.7;
    color: #642714;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
  color: #403866;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #642714;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #642714;}
input:-moz-placeholder { color: #8f8fa1;}
input::-moz-placeholder { color: #8f8fa1;}
input:-ms-input-placeholder { color: #8f8fa1;}

textarea::-webkit-input-placeholder { color: #8f8fa1;}
textarea:-moz-placeholder { color: #8f8fa1;}
textarea::-moz-placeholder { color: #8f8fa1;}
textarea:-ms-input-placeholder { color: #8f8fa1;}

label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Ubuntu-Regular;
  font-size: 16px;
  color: #642714;
  line-height: 1.4;
  text-align: center;
}



/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;;
}


.wrap-login100 {
  width: 390px;
  border-radius: 10px;
  position: relative;


}


/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  font-family: Abhaya Libre;
  font-size: 18px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;


  width: 100%;
  display: block;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid transparent;
  border-radius: 10px;
}


/*---------------------------------------------*/
.input100 {
  font-family: Abhaya Libre;
  
  line-height: 1.2;
  font-size: 40px;
  border-radius: 10px;
  text-align: center;
  color: #642714;

  display: block;
  width: 100%;
  background: transparent;
  height: 62px;
  padding: 0 20px 0 38px;
  border: solid;
}
/*------------------------------------------------------------------


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  padding: 20px;
  color: white;
  text-decoration: none;
  border-radius:5px;
  font-family: Abhaya Libre;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 15

  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 62px;
  background-color: #642714;
  border-radius: 3px;

}

.imglogin {
  border-radius: 40px;
  

}
