@import url(//db.onlinewebfonts.com/c/e43f1db066f2bdd417313735b51574b6?family=Brixton+Outline);
@font-face {font-family: "Brixton Outline"; src: url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.eot"); src: url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.woff") format("woff"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e43f1db066f2bdd417313735b51574b6.svg#Brixton Outline") format("svg"); }


$maroon: #8e2807;
$title: #493b76;

body {
    display: flex;
    justify-content: center;
    background-color: #642714 ;
}


.banner{ 
  background-color: #642714
  color: white ;
  padding: 10px 0px ;
  background-size: cover;
  background-position: center; 

}
  .banner h1 { 
    font-size: 50px ;
    color:#642714 ;
    margin-bottom: 0;
    margin-top: 40;
     }

  .banner h2 {
    font-size: : 30px
    color: #642714;
    font-weight: bolder;
    opacity: 0.8;
    margin-bottom: 20px; 
    margin-top: 10px;
    text-align: center;


  }



.banner img {

  position: absolute;
}




h1,h2,h3,p {
    font-family: 'Brixton Outline',Abhaya Libre;                                          
    color: #642714;
}



h1 {
position: center;

font-family: Brixton TC Outline;
font-style: normal;
font-weight: normal;
font-size: 66px;
line-height: 63px;
display: center;
align-items: center;
text-align: center;
letter-spacing: 0.10em;

color: #642714;
}

h2 {
position: center;

font-family: Abhaya Libre;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 41px;
display: center;
align-items: center;
text-align: center;

color: #642714;

}




.wrapper1 {
  width: 500px;
  border-radius: 10px;
  position: relative;
}

.limiter1 {
  width: 50%;
  margin: 0 auto;}


.container1 {
    width: 125%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.checkout100-form {
  width: 150%;
}

.l100-form-title {
  font-family: Abhaya Libre;
  font-size: 18px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;


  width: 100%;
  display: block;
}






.name {
    justify-content: space-between;
    display: flex;
    width: 144%;
    margin-top: 10px;
    margin-bottom: 10px;


}
    div {
        width: 144%;
    }



}

.cc-info {
    display: flex;
    width: 175%;
    justify-content: center;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
        margin: 3px 0;
        height: 30px;
        width: 40%;
        color: #darkred;
        text-transform: uppercase;
        border: 0;
        border-radius: .3rem;
        letter-spacing: 2px;

    }
}





@keyframes btn-hov {
    100% {
        background-color: #cfc9e1;
        color: #4a3b76;
        transform: scale(1.05)
    }
}


textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #642714;}
input:-moz-placeholder { color: #642714;}
input::-moz-placeholder { color: #642714;}
input:-ms-input-placeholder { color: #642714;}

textarea::-webkit-input-placeholder { color: #642714;}
textarea:-moz-placeholder { color: #642714;}
textarea::-moz-placeholder { color: #642714;}
textarea:-ms-input-placeholder { color: #642714;}




  input {
        mfont-family: Abhaya Libre;
    line-height: 1.2;
    font-size: 40px;
    border-radius: 10px;
    text-align: center;
    color: #642714;
    display: block;
    width: 70%;
    background: transparent;
    height: 47px;
    padding: 0 20px 0 38px;
    border: 1px solid #642714;
    }
@media (max-width: 736px) {
    .wrapper {
        width: 100%;
    }

    .container {
        width: 100%;
    }



    form h1 {
        text-align: center;
    }

    .name,
    .address-info,
    .cc-info {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;

        div {
            align-items: center;
            flex-direction: column;
            width: 100%;
            display: flex;
        }
    }

    .street,
    .cc-num {
        text-align: center;
    }
}